<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
<body>

  <h1>Login</h1>
  <form method="post" action="/login">
    <div>
      <input type="text" name="user[userName]">
    </div>
    <div>
      <input type="password" name="user[password]">
    </div>
    <button>Login</button>
  </form>
  <a href="/signup">Signup</a>
  
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>