<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
<body>

<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="static/img/default.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Peter Hoang<br><small> San Francisco Airport </small></h3>
    </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Peter</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="static/img/profile.jpg" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Peter Hoang <br><small>Vietnam</small></h3>

                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Request to connect!</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>