<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
<body>
<!========================================
              NAVIGATION
========================================-->  
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Social Layover</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="profile">Profile</a></li>
          <li><a href="lounge">Lounge</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!========================================
              Profile
========================================--> 
<div class="container">

</div>
<!========================================
              Flight Tracker
========================================-->  
  <div class="headline">
    <div class="container">    
      <h3>FLIGHT TRACKER</h3>
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <input id='airline' type="text" name="airline" placeholder="Airline name or code" class="input-lg form-control2" size="63%">
          </div>
          <div class="form-group">
            <input id='flight_num' type="text" name="flight" placeholder="Flight Number" class="input-lg form-control2" size="63%">
          </div>
          <div class="form-group">
            <input class="searchbtn" id="give_me" type="button" value="Search" size="50">
          </div>
        </form>
    </div>
  </div>
<div id = 'flight_modal' align="center" ></div>
  <div class="container hideshow">
    <hr class="featurette-divider">
      <table class="table table-bordered thead" style="display:none">
        <thead>
          <tr align="center">
            <th width="90px" align="center">Flight</th>
            <th width="130px">Carrier</th>
            <th width="70px">Departure</th>
            <th width="70px">Arrival</th>
            <th width="90px">Status</th>
          </tr>
        </thead>
        <tbody class="flightstats"></tbody>
      </table>
  </div>

    <div id='delayed_status' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p  align="center">___STATUS____</p>
            <p id="minutes" align="center"></p>
            <p align="center"> Let's not waste time and do something fun!<br>What would you like to do now?</p>
            <form action="/lounge">
            <input type="submit" value="Enter Lounge" class="input-lg form-control btn-teal" >
          </div>
            </form>
          </div>
        </div>
      </div>
    </div>



    <div id='other_status' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div id='modal1' class="modal-content">
            <p align="center">Awesome! Your flight is currently on time and you're good to go!
            <br>
                Have a safe flight!
            </p>
        </div>
      </div>
    </div>






















</body>
  <footer>
    <% include ../partials/footer %>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </footer>
</body>
</html>
<!--<form class="li" method="post" action="/logout?_method=DELETE">
<button type="submit">Logout</button>
 </form>-->